astroid==3.3.5
blinker==1.8.2
cffi==1.17.1
click==8.1.7
cryptography==43.0.1
dill==0.3.9
Flask==3.0.3
Flask-MySQLdb==2.0.0
isort==5.13.2
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
mysqlclient==2.2.4
parso==0.8.4
platformdirs==4.3.6
pycparser==2.22
PyJWT==2.9.0
pylint==3.3.1
tomli==2.0.2
tomlkit==0.13.2
typing_extensions==4.12.2
Werkzeug==3.0.4
